<div class="container" style="white-space:pre;overflow-x:auto;" >
    <h2>Family Members</h2>
    <input type="text" data-ng-model="filter.data" /> <label style="font-weight: bold;" > Filter Table based on Name,City and Age </label>
    <table>
        <tr style="background-color: #4CAF50;color: white;">
            <td style="font-weight: bold;">Member Name</td><td style="font-weight: bold;">City</td><td style="font-weight: bold;">Age</td>
        </tr>
        <tr data-ng-repeat="mem in Family|filter:filter.data|orderBy:'age'">
            <td>{{mem.name}}</td><td>{{mem.city}}</td><td>{{mem.age}}</td>
        </tr>
    </table>
    <form name="myForm" novalidate>
        New Member Name:
        <input type="text" data-ng-model="newMember.name" id="txtName" name="txtName" required /> <span style="color:red" ng-show="myForm.txtName.$touched && myForm.txtName.$invalid">Member name is required.</span>
        Member City:
        <input type="text" data-ng-model="newMember.city" id="txtCity" name="txtCity" required /> <span style="color:red" ng-show="myForm.txtCity.$touched && myForm.txtCity.$invalid">City name is required.</span>
        Member Age:
        <input type="text" data-ng-model="newMember.age" id="txtAge" name="txtAge" required /> <span style="color:red" ng-show="myForm.txtAge.$touched && myForm.txtAge.$invalid">Age is required.</span>
        <h4 ng-if="myForm.txtName.$invalid || myForm.txtCity.$invalid || myForm.txtAge.$invalid">Please fill new member name,city and age to add to the list</h4>
        <button data-ng-click="addDynMember()"  data-ng-disabled="myForm.$invalid" >Add Member</button>    <button data-ng-click="addMemberFact()" data-ng-disabled="myForm.$invalid">Add Member using Factory</button>
    </form>
    
        <a href="#/view2">Redirect test</a>
</div>
<style>
    table {
        border-collapse: collapse;
    }
    th {
        background-color: #4CAF50;
        color: white;
    }
    tr:nth-child(even) {
        background-color: #f2f2f2
    }
    table, td {
        border: 1px solid black;
        padding: 15px;
        text-align: left;
      
    }
   
</style>